body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    border: 1px solid;
    border-radius: 2px;
    color: white;
  }
  
  #floating-toolbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1500px; /* Limit the width to prevent it from stretching too far */
    background-color: #bfa5cd;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .toolbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 30px;
    margin-right: 10px;
  }
  
  .language-toggle {
    display: flex;
    align-items: center;
  }
  
  .language-toggle span {
    margin: 0 5px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    padding: 2px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255); /* Match the background color */
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px; /* Adjust height to match the circle size */
    width: 20px;  /* Adjust width to match the circle size */
    left: 2px;    /* Adjust left position for spacing */
    bottom: 2px;  /* Adjust bottom position for spacing */
    background-color: #bfa5cd; /* Match the circle color */
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #A15AA5;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  a, button {
    background-color: #bfa5cd;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    height: auto;
  }
  
  button:hover, a:hover {
    background-color: #A15AA5;
  }
  