
#cart-container {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    padding: 10px;
    border-radius: 0px;
    overflow-y: auto;
}

.cart {
    padding: 0;
}
.close-cart {
    background-color: transparent;
    border: none;
    color: #c5c5c5;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 16px;
}

.close-cart:hover {
    color: #e53935; /* Red color on hover */
}

h2 {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #bfa5cd;
    text-transform: uppercase;
    letter-spacing: 0px;
}
hr{
    margin: 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-color: lightgrey;
    margin-bottom: 10px;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd; /* Lighter divider */
    padding-bottom: 15px;
}

.cart-item img {
    width: 50px; /* Adjusted image size */
    height: 50px; /* Uniform height */
    margin-right: 15px; /* Spacing adjustment */
    object-fit: cover;
    border-radius: 5px; /* Rounded image corners */
}

.item-details {
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
    margin: 0;
    font-size: 14px; /* Consistent font size */
    color: #333; /* Darker text */
}

.product-variants {
    font-size: 12px; /* Slightly smaller to fit better */
    color: #888; /* Lighter variant color */
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    font-size: 12px;
    color: #e53935;
    text-align: right;
    display: inline;
}

.product-quantity {
    width: 29px;
    text-align: end;
    border: 1px solid #d1d1d1;
    padding: 0px;
    border-radius: 5px;
    font-size: 10px;
    color: #aeaeae;
    margin-right: 0px;
    display: inline;
    position: fixed;
    margin-left: 170px;
    margin-top: 2px;
}
.remove-item {
    background-color: transparent;
    border: none;
    color: #585858;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    position: fixed;
    margin-left: 263px;
    margin-top: -6px;
}

.remove-item:hover {
    color: #b71c1c; /* Darker red on hover */
}

.total {
    font-weight: bold;
    text-align: right;
    margin: 20px 0 10px 0;
    font-size: 18px; /* Increased font size */
    color: #333; /* Darker text */
}

.request-order {
    width: 100%;
    padding: 15px;
    background-color: #bfa5cd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    margin-left: -9px;
}

.request-order:hover {
    background-color: #9a5190; /* Slight hover effect */
}
